* {
  padding: 10px;
  margin: 0x;
}
body{
  background-color: #edefec;
  font-family: Montserrat;
  background-image: none;
  background-size: 100% 180%;
  transition: 0.3s;
}
@font-face {
  src: url(montserrat.ttf);
  font-family: Montserrat;
}
#title{
  transition: 0.3s;
}
#container{
  border-radius: 10px;
  border-width: 10px;
  border-color: white;
  background-color: white;
  width: 400px;
  height: 300px;
  box-shadow: 10px 10px 0px 3px #e3e3e1;
  transition: 0.3s;
}
#container:hover{
  width: 395px;
  height: 295px;
  box-shadow: 0px 0px 200px 0px #e3e3e1;
  transition: 0.3s;
}
